<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NIBM_FINAL_PROJECT.Properties.Settings.NIBMConnectionString"
            connectionString="Data Source=LAPTOP-2MIJHAB9;Initial Catalog=NIBM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>